<p>
  <a href="https://colab.research.google.com/github/neo4j-partners/hands-on-lab-neo4j-and-vertex-ai/blob/main/Lab%205%20-%20Vertex%20AI%20Workbench/exploring_pandas.ipynb" target="_blank">
    <img src="https://cloud.google.com/ml-engine/images/colab-logo-32px.png" alt="Colab logo"> Run in Colab
  </a>
</p>

We're going to play around with our data...  First off, let's grab the training file.

In [1]:
!wget https://storage.googleapis.com/neo4j-sec-labs-data/baseline.csv

--2023-08-08 14:14:48--  https://storage.googleapis.com/neo4j-sec-labs-data/baseline.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 74.125.142.128, 74.125.195.128, 172.253.117.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|74.125.142.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1085089 (1.0M) [text/csv]
Saving to: ‘baseline.csv’

baseline.csv        100%[===================>]   1.03M  --.-KB/s    in 0.008s

2023-08-08 14:14:48 (126 MB/s) - ‘baseline.csv’ saved [1085089/1085089]

Now let's load our data into memory and get a peek at it.

In [2]:
import pandas as pd
df = pd.read_csv('baseline.csv')
df

           cusip  newBuy                 managerName reportCalendarOrQuarter
0      002824100       1   ABNER HERRMAN & BROCK LLC              2023-06-30
1      007903107       1   ABNER HERRMAN & BROCK LLC              2023-06-30
2      009158106       1   ABNER HERRMAN & BROCK LLC              2023-06-30
3      023135106       1   ABNER HERRMAN & BROCK LLC              2023-06-30
4      025816109       1   ABNER HERRMAN & BROCK LLC              2023-06-30
...          ...     ...                         ...                     ...
20130  88579Y101       1  ZRC WEALTH MANAGEMENT, LLC              2023-06-30
20131  91324P102       1  ZRC WEALTH MANAGEMENT, LLC              2023-06-30
20132  92343V104       1  ZRC WEALTH MANAGEMENT, LLC              2023-06-30
20133  957638109       1  ZRC WEALTH MANAGEMENT, LLC              2023-06-30
20134  98389B100       1  ZRC WEALTH MANAGEMENT, LLC              2023-06-30

[20135 rows x 4 columns]

The column called newBuy is the target we're trying to predict.  It's an indicator that is 1 if the filing firm purchased a company they weren't holding last quarter and 0 otherwise.  A filing period is one quarter.

In [7]:
df[['cusip', 'newBuy']].groupby('newBuy').count()

        cusip
newBuy
0          51
1       20084

Take a look at the number of rows total.  Compare that to the most frequent value in the target column.  That will tell you how balanced the dataset is.  Is it balanced?  That determines if we can use standard machine learning techniques or if we need to us special methods like boosting that can cope with imbalanced data.